.game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.game-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: static;
}

.counter-div {
  margin: 10px 0 10px 0;
  width: 5cm;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.counter-index {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.counter-name {
  letter-spacing: 5px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

#counter-win-trials {
  color: green;
}

#counter-lose-trials {
  color: red;
}

.game-row-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.game-card, .game-card-moved {
  margin: 10px;
  width: 2cm;
  height: 3cm;
  border: 2px solid;
  border-radius: 10px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.game-card {
  border-color: rgba(125, 125, 255, 0.7);
}

.game-card-moved {
  border-color: #000f74;
}

.game-congratulation {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: fixed;
}

.congrats-description {
  margin: 0 0 0.5cm 0;
  font-size: 0.66cm;
  font-family: 'Poppins', sans-serif;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.congrats-button, .congrats-button-moved {
  border: 2px solid #000f74;
  border-radius: 5px;
  padding: 0 1.5cm 0 1.5cm;
  font-size: 0.66cm;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-property: background-color color;
  transition-property: background-color color;
}

.congrats-button {
  background-color: white;
  color: #000f74;
}

.congrats-button-moved {
  background-color: #000f74;
  color: white;
}

@media (max-width: 15cm) {
  .counter-div {
    margin: 10px 0 10px 0;
    width: 5cm;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .counter-index {
    font-size: 0.5cm;
  }
  .counter-name {
    font-size: 0.5cm;
  }
  .game-card, .game-card-moved {
    margin: 5px;
    width: 1.5cm;
    height: 2.25cm;
  }
  .congrats-description {
    margin: 0 0 0.5cm 0;
    font-size: 0.5cm;
  }
  .congrats-button, .congrats-button-moved {
    padding: 0 1cm 0 1cm;
    font-size: 0.5cm;
  }
}

@media (max-width: 8.5cm) {
  .counter-div {
    margin: 6px 0 6px 0;
    width: 5cm;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .counter-index {
    font-size: 0.3cm;
  }
  .counter-name {
    font-size: 0.3cm;
  }
  .game-card, .game-card-moved {
    margin: 5px;
    width: 1.0cm;
    height: 1.5cm;
  }
  .congrats-description {
    margin: 0 0 0.4cm 0;
    font-size: 0.4cm;
  }
  .congrats-button, .congrats-button-moved {
    padding: 0 1cm 0 1cm;
    font-size: 0.4cm;
  }
}
/*# sourceMappingURL=Game.css.map */