.home
  height: 100vh
  width: 100vw
  overflow: hidden
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

.home-description
  width: 85vw
  font-family: 'Poppins', sans-serif
  font-size: 18px
  color: rgba(0, 12, 116, 1)
  text-align: center

.home-buttons
  display: flex
  flex-direction: row

%Default-Home-Button
  width: 5cm
  margin: 20px
  border: 1px solid
  border-color: rgba(0, 12, 116, 1)
  border-radius: 10px
  font-family: 'Poppins', sans-serif
  font-size: 18px
  font-weight: bold
  cursor: pointer
  transition-property: background-color, color
  transition-duration: 0.5s

.home-button
  @extend %Default-Home-Button
  color: rgba(0, 12, 116, 1)
  background-color: rgba(255, 255, 255, 1)

.home-button-moved
  @extend %Default-Home-Button
  color: rgba(255, 255, 255, 1)
  background-color: rgba(0, 12, 116, 1)

@media (max-width: 15cm)
  .home-buttons
    margin-top: 10px
    flex-direction: column-reverse

  %Default-Home-Button
    width: 80vw
    margin: 5px
